<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    
</head>
<body>
    <h2>Registration</h2>
<form th:action="@{/user/register}" th:object="${userRegistrationViewModel}" method="post">
    <div>
        <label for="email">Email</label>
        <input id="email" name="email" th:field="*{email}" placeholder="Enter email" required></input>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password"  th:field="*{password}" placeholder="Enter password" required></input>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    </div>
    <div>
        <label for="passwordConfirm">Password Confirm</label>
        <input id="passwordConfirm" name="passwordConfirm"  th:field="*{passwordConfirm}" placeholder="Enter passwordConfirm" required></input>
        <div th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Password Confirm Error</div>
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
    <div>
        <a href="" class="btn btn-primary">Cancel</a>
    </div>
</form>
    
</body>
</html>